*{
    box-sizing: border-box;
}
html{
   font-size: 14px; 
}
body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
}